<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
    xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd">
    
    <!-- 原生的factory -->
    <bean id="activeMQConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
       <constructor-arg name="brokerURL" value="tcp://192.168.25.134:61616"/>
    </bean>
    <!-- spring管理的factory -->
    <bean id="singleConnectionFactory" class="org.springframework.jms.connection.SingleConnectionFactory">
        <property name="targetConnectionFactory" ref="activeMQConnectionFactory"></property>
    </bean>
    <!-- jmsTemplate -->
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="singleConnectionFactory"></property>
    </bean>
    
    <!-- 配置目的地 -->
    <bean id="activeMQQueue" class="org.apache.activemq.command.ActiveMQQueue">
        <property name="physicalName" value="spring-queue"></property>
    </bean>
    <bean id="activeMQTopic" class="org.apache.activemq.command.ActiveMQTopic">
        <property name="physicalName" value="topicItemId"></property>
    </bean>
    
    <!-- 配置监听器  测试 -->
    <!-- <bean id="spring_activeMQ_get" class="com.chao.spring_activeMQ.Spring_activeMQ_get"></bean> -->
    <!-- 项目 -->
    <bean id="itemMessageListener" class="com.chao.search.listener.ItemMessageListener"></bean>
    
    <!-- 配置监听器容器 -->
    <bean id="defaultMessageListenerContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="singleConnectionFactory"></property>
        <property name="messageListener" ref="itemMessageListener"></property>
        <property name="destination" ref="activeMQTopic"></property>
    </bean>
    
</beans>